.discount {
  width: 200px;
  height: 200px;
  /* background: #443c65; */
  /* background: linear-gradient(30deg, #0e7d0e, #76eb76); */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount-h1 {
  font-family: "Eagle Lake", serif;
  color: white;
  font-size: 4rem;
  margin-top: 0;
}

.discount h2 {
  font-family: "Katibeh", serif;
  font-style: italic;
  color: white;
  font-size: 2rem;
  margin-top: -20%;
}
